@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --border: 215 19% 35%;
    --input: 215 19% 35%;
    --ring: 198 93% 60%;
    --primary: 198 93% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 200 87% 55%;
    --accent-foreground: 222 47% 11%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --radius: 1rem;
  }

  body {
    @apply bg-slate-950 text-white antialiased;
  }
}
